@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section header {
    <h1>hello, this is (near) te end of the page </h1>_
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section footer {
    <h1>hello, this is (near) te end of the page </h1>_
}